@font-face {
  font-family: "US101";
  src: url("../fonts/US101.eot?") format("eot"), url("../fonts/US101.woff") format("woff"), url("../fonts/US101.ttf") format("truetype"), url("../fonts/US101.svg#U.S.101") format("svg");
  font-weight: normal;
  font-style: normal; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.home-modules .highlights:after {
  content: "";
  display: table;
  clear: both; }

button,
.button,
.sidebar .widget_search #searchsubmit,
#searchform #searchsubmit {
  background-color: #ffbf00;
  color: #4c4c4c; }
  button:link,
  .button:link,
  .sidebar .widget_search #searchsubmit:link,
  #searchform #searchsubmit:link {
    color: #4c4c4c; }
  button:hover,
  button:focus,
  .button:hover,
  .sidebar .widget_search #searchsubmit:hover,
  .button:focus,
  .sidebar .widget_search #searchsubmit:focus,
  #searchform #searchsubmit:hover,
  #searchform #searchsubmit:focus {
    background-color: #000;
    color: #ffbf00 !important;
    border: none; }

a,
a:link {
  color: #4c4c4c; }

.header-global {
  background-color: #000; }
  .header-global h1.site-title {
    margin-right: 20px; }
    .header-global h1.site-title a {
      color: #fff !important;
      border-color: #fff; }
  .header-global nav.nav-global a,
  .header-global nav.nav-global .current-item a {
    color: #fff !important; }
  .header-global nav.nav-global .sub-menu {
    background-color: #000 !important; }
    .header-global nav.nav-global .sub-menu li.current-menu-item:after,
    .header-global nav.nav-global .sub-menu li.current_page_item:after,
    .header-global nav.nav-global .sub-menu li.current-page-ancestor:after {
      border-bottom-color: #ffbf00; }
  @media (max-width: 768px) {
    .header-global nav.nav-global a,
    .header-global nav.nav-global .current-item a {
      color: #4c4c4c !important; }
      .header-global nav.nav-global a:hover,
      .header-global nav.nav-global a:focus,
      .header-global nav.nav-global .current-item a:hover,
      .header-global nav.nav-global .current-item a:focus {
        color: #fff !important; } }

html,
body {
  background-color: #fff; }

.highlights .module-heading {
  background: #cccccc url("../images/home-highlight.png") no-repeat center center; }

h1,
h2,
h3,
h4 {
  font-family: "US101", Helvetica, Verdana, sans-serif; }

.sidebar .widget {
  padding: 0;
  background: #e5e5e5 !important; }
  .sidebar .widget > ul,
  .sidebar .widget form {
    padding: 20px; }
  .sidebar .widget p,
  .sidebar .widget li,
  .sidebar .widget a {
    color: #4c4c4c; }
  .sidebar .widget li a:hover {
    background-color: #ffbf00; }

.sidebar .widget_search {
  padding: 10px 20px; }
  .sidebar .widget_search #searchsubmit {
    background-color: #ffbf00;
    color: #000; }

.sidebar .widgettitle {
  background-color: #000;
  padding: 20px;
  color: #ffbf00;
  text-transform: uppercase;
  font-size: 1.75rem; }

.footer-global {
  background-color: #e5e5e5; }
  .footer-global .widget a {
    color: #4c4c4c; }

.footer-slug {
  background-color: #cccccc; }

.bx-wrapper .bx-controls-direction a {
  color: #ffbf00 !important; }

.home-modules h2.module-heading {
  font-size: 2.25rem; }

.home-modules .network-sites-list .sites-list li,
.home-modules .widget_glocal_network_sites_widget .sites-list li {
  background-color: #000 !important;
  color: #ffbf00; }
  .home-modules .network-sites-list .sites-list li a,
  .home-modules .widget_glocal_network_sites_widget .sites-list li a {
    color: #ffbf00 !important; }

.home-modules .network-sites-list .sites-list.no-site-image li,
.home-modules .widget_glocal_network_sites_widget .sites-list.no-site-image li {
  background-color: #000 !important;
  color: #ffbf00; }
  .home-modules .network-sites-list .sites-list.no-site-image li a,
  .home-modules .widget_glocal_network_sites_widget .sites-list.no-site-image li a {
    color: #ffbf00 !important; }

.home-modules .widget_em_widget li {
  background-color: #000 !important;
  color: #ffbf00; }
  .home-modules .widget_em_widget li a {
    color: #ffbf00 !important; }

.home-modules .widget_glocal_network_posts_widget li {
  background-color: #e5e5e5; }

.home-modules .widget_glocal_network_post_highlights_widget h2 {
  color: #4c4c4c; }

div.css-search div.em-search-main .em-search-submit {
  background-color: #ffbf00;
  color: #4c4c4c; }
  div.css-search div.em-search-main .em-search-submit:hover,
  div.css-search div.em-search-main .em-search-submit:focus {
    background-color: #000; }
